<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>OAuth2 인증 결과</title>
</head>
<body>
<div>
    <h2>Welcome</h2>
    <p>사용자 정보: <span th:text="${authentication}"></span></p>
    <p>Access Token: <span th:text="${accessToken}"></span></p>
    <p>Refresh Token: <span th:text="${refreshToken}"></span></p>
</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">로그아웃</a>
</div>

</body>
</html>