<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script>
        function authorizationCode(){
            window.location.href = 'http://localhost:8080/oauth2/authorization/keycloak-authorization-code';
        }

        function authorizationCodeWithPKCE(){
            window.location.href = 'http://localhost:8080/oauth2/authorization/keycloak-authorization-code-with-pkce';
        }

        function implicit(){
            window.location.href = 'http://localhost:8080/oauth2/authorization/keycloak-implicit';
        }
    </script>
</head>

<body>
<div>Hello OAuth 2.0 Client</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>

<div sec:authorize="isAnonymous()">
    <p><input type="button" onclick="authorizationCode()" value="Authorization Code Grant" /></p>
    <p><input type="button" onclick="authorizationCodeWithPKCE()" value="Authorization Code Grant with PKCE" /></p>
    <p><input type="button" onclick="implicit()" value="Implicit Grant" /></p>
</div>
</body>

</html>
